html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.homePage {
    width:100%;
    height:100%;
    background:url('../pictures/blackSmoke.png') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.homePage1 {
    width:100%;
    height:100%;
    overflow: auto;
}

#prostorZaGumbe {
    height:8%;
    float:auto;
}

.PlacZagumb {
    margin-top: 2%;
    text-align:center;
    
}

#tretjina {
    height: 100%;
    width: 33%;
    float: left;
    text-align: center;
}

#graf {
    height: 70%;
    
    
}




.page-header {
    text-align: center;
}

#container {
    height:100%;
    width:100%;
    overflow:auto;
    display:none;
}

.Domov {
    height:100%;
    width:100%;
    
}

.Kalkulator {
    height:100%;
    width:100%;
    display:none;
}

.Zanimivosti {
    
    display:none;
}

#plac {
    height: 2%;
}

#plac2 {
    height: 20%;
}

.row {
    height: 22px;
    
}

.row1 {
    margin-top: 5%;
    height: 25px;
    text-align:center;
}

#slika {
  height: 60%;
  background:url('../pictures/sayNO.png') no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    
}
.be {
   
    height:100%;
    width:100%;
}    

.btn {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #7a0606);
  background-image: -moz-linear-gradient(top, #ff0000, #7a0606);
  background-image: -ms-linear-gradient(top, #ff0000, #7a0606);
  background-image: -o-linear-gradient(top, #ff0000, #7a0606);
  background-image: linear-gradient(to bottom, #ff0000, #7a0606);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #a30c0c;
  background-image: -webkit-linear-gradient(top, #a30c0c, #1f0303);
  background-image: -moz-linear-gradient(top, #a30c0c, #1f0303);
  background-image: -ms-linear-gradient(top, #a30c0c, #1f0303);
  background-image: -o-linear-gradient(top, #a30c0c, #1f0303);
  background-image: linear-gradient(to bottom, #a30c0c, #1f0303);
  text-decoration: none;
}

.button1 {
   border-top: 1px solid #080401;
   background: #1c1c1c;
   background: -webkit-gradient(linear, left top, left bottom, from(#b07f4a), to(#1c1c1c));
   background: -webkit-linear-gradient(top, #b07f4a, #1c1c1c);
   background: -moz-linear-gradient(top, #b07f4a, #1c1c1c);
   background: -ms-linear-gradient(top, #b07f4a, #1c1c1c);
   background: -o-linear-gradient(top, #b07f4a, #1c1c1c);
   padding: 20px 40px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border-top-color: #21170c;
   background: #21170c;
   color: #ccc;
   }
.button1:active {
   border-top-color: #21170c;
   background: #21170c;
   }