html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.homePage {
    width:100%;
    height:100%;
    background:url('../pictures/blackSmoke.jpg') no-repeat center center;
    overflow: auto;
}

.homePage1 {
    width:100%;
    height:100%;
    overflow: auto;
}

#prostorZaGumbe {
    height:20%;
    float:auto;
}

#tretjina {
    height: 100%;
    width: 33%;
    float: left;
    text-align: center;
}



.page-header {
    text-align: center;
}
#container {
    height:100%;
    width:100%;
    display:none;
}

#plac {
    height: 2%;
}

.row {
    height: 25px;
    
}

#slika {
  height: 60%;
  background:url('../pictures/sayNO.png') no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    
}
.be {
   
    height:100%;
    width:100%;
}    

.btn {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #7a0606);
  background-image: -moz-linear-gradient(top, #ff0000, #7a0606);
  background-image: -ms-linear-gradient(top, #ff0000, #7a0606);
  background-image: -o-linear-gradient(top, #ff0000, #7a0606);
  background-image: linear-gradient(to bottom, #ff0000, #7a0606);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #a30c0c;
  background-image: -webkit-linear-gradient(top, #a30c0c, #1f0303);
  background-image: -moz-linear-gradient(top, #a30c0c, #1f0303);
  background-image: -ms-linear-gradient(top, #a30c0c, #1f0303);
  background-image: -o-linear-gradient(top, #a30c0c, #1f0303);
  background-image: linear-gradient(to bottom, #a30c0c, #1f0303);
  text-decoration: none;
}